<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>MVC Web application</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
    a {
      background-color: #009688;
      box-shadow: 0 5px 0 #009188;
      color: white;
      padding: 1em 1.5em;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 20%;
    }

    a:hover {
      background-color: #009188;
      cursor: pointer;
    }

    a:active {
      box-shadow: none;
      top: 5px;
    }
  </style>
</head>

<body>
<div class="w3-container w3-teal" >
  <h1 style="margin-left: 10%"> Drugs in prescription of <text th:text="${person.firstName}"/> <text th:text="${person.lastName}"/>:</h1>
</div>
<div style="float:left; display:block; width:50%;">
<br><br>
<p style="margin-left: 20%"> Select actual drugs in prescription to the patient</p>
<a href="actualDrugs?" id="actualDrug" th:href="@{actualDrugs(uniqueID=${person.uniqueID})}"> Actual drug </a><br><br><br>
<p style="margin-left: 20%"> Add new drug for the patient</p>
<a href="drugsList?" id="newDrug" th:href="@{drugsList(uniqueID=${person.uniqueID})}"> New drug </a><br><br><br>
<p style="margin-left: 20%"> Check the formulary </p>
<a href="formulary?" id="formulary" th:href="@{formulary(uniqueID=${person.uniqueID})}"> Formulary </a><br><br><br>
<p style="margin-left: 20%"> See the report </p>
<a href="report?" id="report" th:href="@{report(uniqueID=${person.uniqueID})}"> Report </a><br><br><br>
</div>
<div style="float:left; display:block; width:50%;"><br><br><br><br>
  <a href="modifyUser?" id="userModify" th:href="@{modifyUser(uniqueID=${person.uniqueID})}"> Modify user information </a><br><br><br>
<a href="read?" id="clinicFolderLink" th:href="@{read(uniqueID=${person.uniqueID})}"> Clinic folder </a><br><br><br>
<a href="/list"> Show the list </a>
</div>
</body>
</html>