<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-container w3-teal" >
  <h1 style="margin-left: 10%">Medication <text th:text="${drug.name}"/> information</h1>
</div><br><br>
<div style="float:left; display:block; width:50%;">
  <h3 style="margin-left: 20%; color: #009688"> Medication information: </h3>
  <ul style="margin-left: 20%;">
    <li id="name" th:text="'Name: ' + ${drug.name} ">  </li>
    <li id="atc" th:text="'ATC: ' + ${drug.atc} ">  </li>
    <li id="company" th:text="'Company: ' + ${drug.company} "> </li>
    <li id="type" th:text="'Type: ' + ${drug.type} "> </li>
    <li id="description" th:text="'Description: ' + ${drug.description} ">  </li>
    <li id="maxDose" th:text="'Max dose: ' + ${drug.maxDose} ">  </li>
    <li id="minDose" th:text="'Min dose: ' + ${drug.minDose} ">  </li>
  </ul><br></div>
<div style="float:left; display:block; width:50%;"><br>
  <form action="changeFormularyDose" method="post">
    <h3> Confirm medication? </h3>
    <input id="changeDoseButton"type="submit" value="Confirm"/>
    <input type="hidden" name="uniqueID" th:value="${person.uniqueID}"><br>
    <input type="hidden" name="uniqueDrug" th:value="${drug.uniqueID}"><br>
  </form>
  <a href="drugs?" style="margin-left: 10%" th:href="@{drugs(uniqueID=${person.uniqueID})}"> Back to medication management menu </a><br><br>
</div>
</body>
</html>
